#templateCard {
  transition: all 0.2s ease-out;
  position: relative;
  text-align: left;

  .imageContainer {
    height: 40vh;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  h3 {
    margin-top: 20px;
  }

  &:hover {
    transform: scale(1.01);
  }
}