@import "../../scss/variables";

.navigation {
  margin-top: 8vh;
  height: 92vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: red;
  z-index: 999;
}

@media (min-width: $breakpoint-small) {
  .navigation {
    display: none;
  }
}