@import "../../scss/variables";

.navigation {
  margin-top: 8vh;
  height: 92vh;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: $off-white;
  z-index: 999;

  a {
    margin-bottom: 20px;
  }

  .loginBtns {
    align-items: center;
    display: flex;
    flex-direction: column;

    button {
      &:first-of-type {
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: $breakpoint-small) {
  .navigation {
    display: none;
  }
}