@import "../../scss/variables";

#hero {
  height: calc(100vh - 8vh);
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  .heroContent {
    width: fit-content;
    text-align: left;

    h1 {
      font-size: 5rem;
    }
    h3 {
      font-size: 3rem;
      font-family: $type-base;
      width: 90%;
    }
  }

  .galleryContainer{
    z-index: -1;
    position: relative;
    height: 80vh;
    width: 70%;
  }
}

.blur {
  background-image: linear-gradient(to right, #0468b7, #ffb43d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#gallery{
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;

  h3{
    color: $off-white;
    font-size: 5rem;
    z-index: 10;

    strong{
      color: $orange;
    }
  }
}

#aboutContent {
  padding: 10vh 0;
  transition: all 0.2s ease;

  .cardContainer {
    width: 80%;
    margin: 5vh auto 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.6;
    }
  }
}

#companiesContent {
  overflow: hidden;
  padding: 15vh 0;
}

.brandContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: 700;
  animation: slideCompany 400s linear infinite;
}

@keyframes slideCompany {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-90%);
  }
  100%{
    transform: translateX(0);
  }
}

@media (min-width: $breakpoint-medium) {
  #aboutContent {
    .cardContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

#features {
  padding: 15vh 0;
}
