@import "../../scss/variables";

#hero {
  height: calc(100vh - 8vh);
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow: hidden;

  .heroContent {
    width: fit-content;
    text-align: left;
    animation: fadeIn 0.5s ease-in-out forwards;

    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
      font-family: $type-base;
      width: 90%;
    }
  }

  .galleryContainer{
    position: relative;
    height: 80vh;
    width: 100%;
  }
}


@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.blur {
  background-image: linear-gradient(to right, #0468b7, #ffb43d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#gallery{
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;

  h3{
    color: $off-white;
    font-size: 5rem;
    z-index: 10;

    strong{
      color: $orange;
    }
  }
}

#aboutContent {
  padding-bottom: 10vh;
  transition: all 0.2s ease;

  h3{
    font-size: 8vw;
  }

  .instructionContainer {
    width: 90%;
    margin: 5vh auto 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;


    .instruction{
      padding: 10vh 0;
        margin: 0 auto;

      .illustration{
        height: 50vh;
        width: 100%;
        
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }


      .content{
        margin-top: 50px;
      }

      h3 {
        font-size: 2rem;
      }
  
      p {
        font-size: 1.5rem;
        line-height: 1.6;
      }
    }
  }
}

#companiesContent {
  overflow: hidden;
  padding: 15vh 0;

  h3{
    font-size: 7vw;
  }
}

.brandContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: 700;
  animation: slideCompany 400s linear infinite;
}

@keyframes slideCompany {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-90%);
  }
  100%{
    transform: translateX(0);
  }
}


#bottomCta{
  padding: 15vh 0;
  width: 100%;
  background: $dark-accent;
  display: grid;
  place-items: center;

  .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }

  h2,
  p{
    color: $off-white;
  }

  h2{
    margin: 0;
  }
 
  p{
    margin: 20px auto 0 auto;
    line-height: 1.5;
    font-size: 1.3rem;
  }

  button{
    margin: 30px 0 0 0;
    background: $orange
  }
}

.footer{
  background: $orange;
  color: $off-white;
  padding: 2.5vh 0;
}

@media(min-width: $breakpoint-small){
  #hero{
    flex-direction: row;

    .hero-content{
      h1 {
        font-size: 5rem;
      }
      h3 {
        font-size: 3rem;
      }
    }
 
    .galleryContainer{
      width: 70%;
    }
  }

  #companiesContent{
    h3{
      font-size: 3rem;
    }
  }

  #aboutContent{
    h3{
      font-size: 3rem;
    }

    .instructionContainer{
      width: 60%;
      
      .instruction{
        padding: 10vh 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .illustration{
          width: 50%;
          margin: 0 auto;
        }

        .content{
          margin-top: 0;
          width: 40%;
          margin-left: 20px;
        }
        
        &:nth-of-type(2){
          flex-direction: row-reverse;
        }
      }
    }
  }

  #bottomCta{
    .content{
      width: 60%;
    }

    p{
      font-size: 2rem;
    }
  }
}