@import "../../../../scss/variables";

#container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: black;
  background-image: url(./JPortfolio1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .content {
    color: white;
    font-family: "Nunito Sans";
  }
  h1 {
    color: white;
    margin-top: 10%;
    font-size: 3rem;
  }
}
.card {
  border: 1px solid #e1a87a;
  background: rgba(255, 255, 255, 0.15);
  width: 450px;

  margin: 0 5vh 0 auto;
  padding: 5px 2.5% 5px 2.5%;
  text-align: center;
  p {
    text-align: center;
  }
  a {
    color: white;
    font-size: 2em;
    letter-spacing: 0.025em;
    line-height: 1em;
    margin-bottom: 18px;
  }
}

.links {
  font-size: 40px;
  color: white;
  &:hover {
    opacity: 0.5;
  }
}
.description {
  margin-top: 10px;
  font-size: 14px;
  color: white;
}

.navigation {
  a {
    color: white;
    margin-right: 20px;
  }
}
