.menu {
  position: relative;
  display: flex;
  .menuBtn {
    background-color: #1ebbc0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
}

.menu:hover .menuBtn {
  background-color: #1e989c;
}

.menuContent {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menuContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menuContent a:hover {
  background-color: #f1f1f1;
}

.menu:hover .menuContent {
  display: flex;
}
