@import "../../scss/variables";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  background: $off-white;
  color: $dark-accent;
  box-shadow: $box-shadow;
  z-index: 9999999999;
  animation: slideInDown 0.5s forwards;
}

@keyframes slideInDown {
  from {
    transform: translateY(-8vh);
  }
  to {
    transform: translateY(0vh);
  }
}

.siteBranding {
  height: 45px;
  width: 45px;

  &:hover {
    img {
      transform-origin: center;
      animation: spin 0.4s ease forwards;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.github {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba($color: #000000, $alpha: 0.4);
  margin-bottom: 30px;
  color: $dark-accent;

  &:hover {
    background: rgba($color: #000000, $alpha: 0.4);
  }

  svg {
    margin-right: 10px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0.6);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

.rightHeader {
  display: flex;
  align-items: center;

  .loggedInAs {
    margin: 0 20px 0 0;
    color: $blue;
  }
}

.loginBtns {
  display: none;
}

@media (min-width: $breakpoint-small) {
  .loginBtns {
    display: block;

    width: fit-content;

    button {
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }

  .mobileMenuBtn {
    display: none;
  }
}
