@import '../../scss/variables';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: $off-white;
  color: $dark-accent;
  box-shadow: $box-shadow;
}

.siteBranding {
  font-size: 2rem;
}

.rightHeader {
  display: flex;
  align-items: center;

  .loggedInAs {
    margin: 0 20px 0 0;
    color: $blue;
  }
}

.loginBtns {
  width: fit-content;

  button {
    &:first-of-type {
      margin-right: 10px;
    }
  }
}