#container {
  width: 100%;
  position: relative;
  margin-top: 120px;
  padding-bottom: 10vh;
}

.continueBtn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.infoCta {
  display: flex;
  align-items: center;

  button {
    margin-left: 20px;
  }
}
