.container {
  width: 100%;
  position: relative;
  padding-bottom: 10vh;
}

.continueBtn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.infoCta {
  display: flex;
  align-items: center;

  button {
    margin-left: 20px;
  }
}

.upload {
  margin-top: 20px;
  &::-webkit-file-upload-button {
    display: inline-block;
    padding: 10px;
    -webkit-user-select: none;
    cursor: pointer;
    width: 30%;
    color: darken(aquamarine, 50%);
    text-align: center;
    background: aquamarine;
    margin: 0;
    border: 1px solid darken(aquamarine, 20%);
  }
}
