.galleryContainer{
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: fadeIn 0.6s ease-out forwards;

    img{
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(80%);
    }
}

@keyframes fadeIn{
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0%);
    }
}