@import '../../scss/variables';

.progressBar {
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 100px;
    width: 60px;
    border-radius: $border-radius;
    background: $orange;
    transform-origin: top;
    transform: scaleX(1);
    transition: all .3s $cubic-ease;
}