@import '../../scss/variables';

.timeline {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: flex-end;

    p {
        margin: 0 20px 0 0;
    }
}


.progressBar {
    height: 100px;
    width: 60px;
    border-radius: $border-radius;
    background: $orange;
    transform-origin: top;
    transform: scaleX(1);
    transition: all .3s $cubic-ease;
}

@media(min-width: $breakpoint-small) {
    .timeline {
        bottom: 50px;
        right: 50px;
    }
}