.dashboard {
    padding: 15vh 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.projectCollection {

    h4 {
        margin: 20px 0;
        text-align: center;
    }

    button {
        margin: 5px 10px;
    }
}