@import "../../../scss/_variables";

#dashboardProject {
  width: 100%;
}

@media (min-width: $breakpoint-medium) {
  #dashboardProject {
    width: 40%;

    .infoImg {
      height: 400px;
      width: 100%;
    }
  }
}
