html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #c7c0c0;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

button:focus {
  outline: 0;
}

*:focus {
  outline: none;
}
