// apply this to all inputs
input,
select,
option,
textarea {
  border: 1px solid $border-color;
  background: $grey-accent;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 10px 20px;
  font-family: $type-base;

  &:focus {
    border: 1px solid $orange;
  }

  &[placeholder] {
    color: $dark-accent;
  }
}

// apply this globally to all links
a {
  text-decoration: none;
  color: $blue;
  font-size: 1.1rem;

  &:hover {
    color: $blue;
  }
}

.altLink {
  // don't put background  or padding in real app just for example
  background: $dark-accent;
  padding: 20px;
  color: $off-white;

  &:hover {
    color: $orange;
  }
}

// apply this globally to all buttons
button {
  background: $blue;
  border: none;
  border-radius: $btn-border-radius;
  padding: 10px 20px;
  color: $off-white;
  font-size: 1rem;
  box-shadow: $box-shadow;
  transition: all 0.2s $cubic-ease;
  width: fit-content;

  &.cta {
    padding: 20px 40px;
    font-size: 1.5rem;
    border: $btn-border-radius;
  }

  &.alt-btn {
    background: none;
    border: 1px solid $blue;
    color: $blue;

    &:hover {
      color: $off-white;
      background: $blue;
    }
  }

  &:hover {
    transform: scale(1.02);
    background: $blue;
  }
}

.card {
  border: 1px solid $border-color;
  background: $grey-accent;
  padding: 40px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.color-blue {
  color: $blue;
}

.color-light-blue {
  color: $blue;
}

.color-orange {
  color: $orange;
}

.input-container {
  display: flex;
  flex-direction: column;
}

//  Editor buttons
.editor-button-container {
  margin-top: 50px;

  button {
    margin: 0 10px;

    a {
      color: $off-white;
    }
  }
}
