@import '../../scss/variables';

.loginOverlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
}

.loginModal {
    position: absolute;
    top: calc(50% - 30vh);
    left: calc(50% - 40vw);
    height: 60vh;
    width: 80vw;
    background: $off-white;
    box-shadow: $box-shadow;
    padding: 40px;
    display: grid;
    place-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    input {
        margin-bottom: 5px;
    }

    .loginBtn {
        margin: 10px 0 20px 0;
    }
}

@media(min-width: $breakpoint-small) {
    .loginModal {
        top: calc(50% - 15vh);
        left: calc(50% - 10vw);
        height: 30vh;
        width: 20vw;
    }
}